<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dettaglio contatto {{result.name}} {{resut.surname}}</title>
</head>
<body>
<h1>Contatto: {{result.name}} {{result.surname}} </h1>
<p>Numero di telefono: {{result.telephone}}</p>

</body>
</html>