<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista contatti</title>
</head>
<body>
<table border="1" style="width:300px">
<thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Telephone</th>
        <th><a href="/aggiungi_contatto"> <img src="{{url_for('static', filename='add_16x16.png')}}" /></a></th>
    </tr>
</thead>
    <tbody>
    {% for row in results %}
        <tr><td><a href="/dettaglio/{{ row.id }}">{{ row.name }}</a></td>
            <td>{{row.surname}}</td><td>{{row.telephone}}</td>
            <td><a href="/rimuovi/{{row.id }}"> <img src="{{url_for('static', filename='delete_16x16.gif')}}" /></a> </td>
        </tr>
    {% endfor %}
    </tbody>
<tfoot><tr><td colspan="4"><a href="/">Torna al menu principale</a></td></tr> </tfoot>

</table>

</body>
</html>