<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aggiungi/Modifica contatto contatto</title>
</head>
<body>
<form action="{{ url_for('aggiungi') }}" method="post">
      <input type="hidden" name="id_" value="{{result.id_|safe}}"/>
      <dl>
        <dt>Nome:
            <dd><input type="text" size=30 name="name_" value="{{result.name_|safe}}">
        <dt>Cognome:
            <dd><input type="text" size=30 name="surname_" value="{{result.surname_|safe}}">
          <dt>Telefono:
            <dd><input type="text" size=30 name="number_" value="{{result.number_|safe}}">
          <dt>Email:
            <dd><input type="text" size=30 name="email_" value="{{result.email_|safe}}">
          <dt>Indirizzo completo:
             <dd><textarea name="address_" rows="5" cols="40">{{result.address_|safe}}</textarea>
        <dd><input type="submit" value="Aggiungi/Modifica Contatto">
      </dl>
</form>

<div>
    <div>
    <form action="{{ url_for('aggiungi_nota') }}" method="post">
        <input type="hidden" name="contact_id" value="{{result.id_|safe}}"/>
        <dt>Nota:
             <dd><textarea name="text_" rows="5" cols="40"></textarea>
        <dd><input type="submit" value="Aggiungi Nota">
    </form>
    </div>
    <p></p>
    {% for row in result.notes %}
        <div style="display:block">
            <div style="display:inline"><a href="/delete_note/{{row.0}}/{{result.id_}}"><img src="{{url_for('static', filename='delete_16x16.gif')}}"></a> </div>
            <div style="display:inline">{{row.1}}</div>

        </div>
    {% endfor %}
</div>
</body>
</html>