<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dettaglio contatto {{result.name_}} {{resut.surnmae_}}</title>
</head>
<body>
<h1>Contatto: {{result.name_}} {{result.surname_}} </h1>
<p>Numero di telefono: {{result.number_}}</p>

</body>
</html>